# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# VS Code / PyCharm / other IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
